// Shop


// Mixins & Extends

@mixin bsg-buy {
flex-direction: column;
display: flex;
justify-content: space-between;
text-align: center;
font-size: 1.2em;
}

/* ---------ARTICULOS------------- */
.main-shop-grid {
grid-area: main;
height: 850px;
background-image: url(https://w.forfun.com/fetch/ba/ba597aee0b8dd40d88d6e909d3f48f0a.jpeg);
background-blend-mode: soft-light;
background-color: rgba(0, 0, 0, 0.5); 
background-repeat: no-repeat;
background-size: cover;
background-position-y: -150px;
color: white; }


html{
    font-size: 62.5%;
    overflow-x: hidden;
}


.container{
    max-width: 1200px;
    margin:0 auto;
    padding:2rem 1rem;
    width: auto;
}


.container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}

.container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: #ffffff;
    box-shadow: 0 .6rem 1rem rgba(0, 0, 0, 0.1);
    outline: .1rem solid #000000;
    outline-offset: -1.5rem;
    cursor: pointer;
}

.container .products-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
}

.container .products-container .product img{
    height: 25rem;
}

.container .products-container .product:hover img{
    transform: scale(.9);
}

.container .products-container .product h3{
    padding:.5rem 0;
    font-size: 2rem;
    color:#000000;
}

.container .products-container .product:hover h3{
    color:#27ae60;
}

.container .products-container .product .price{
    font-size: 2rem;
    color:#444;
}
@media (max-width:991px){

    html{
        font-size: 120%;
    }

}

@media (max-width:768px){

    .products-preview .preview img{
        height: 25rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}