
<form [formGroup]="datosAlumnosForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput type="text">
        </mat-form-field>

    <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input formControlName="apellido" matInput type="text">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Edad</mat-label>
        <input formControlName="edad"  matInput type="number">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Asistencia</mat-label>
        <mat-select formControlName="asistencia">
            <mat-option value="Presente">Presente</mat-option>
            <mat-option value="Ausente">Ausente</mat-option>
    
        </mat-select>
    </mat-form-field>
    
    <div class="pl-1">
        <button mat-raised-button color="warn">Guardar</button>
    </div>
</form>

<pre>{{datosAlumnosForm.value | json}}</pre>